<div class="product" >
    <div class="w-100 flex justify-end">
        <i class="fa-solid fa-circle-info info-icon"></i>
    </div>
    @if (!!product?.imgUrl){
        <img [src]="product.imgUrl" alt="" >
    } @else {
        <img  src="assets/img/no_img.jpg" >
    }
    <h3>{{product.title}}</h3>
    <div class="flex">
        <h2 [ngClass]="{'promotion': !!product.promotion }">
            {{product.price}} $ 
        </h2>
    </div>

    <button (click)="addToCart()" >Aggiungi al carrello</button>
</div>
