.product{
    padding: 10px 5px;
    margin: 10px;
    height: 300px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid 1px rgb(237, 237, 237);
    border-radius: 5px;
}

.product img{
    width: 90%;
    border: solid 1px rgb(232, 232, 232);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(238, 238, 238);
}

.product h2,h3{
    padding: 0;
    margin: 0 5px;
    color: #2e2e2e;
}

.product button{
    background-color: antiquewhite;
    border: solid 1px transparent;
    color: #2e2e2e;
    cursor: pointer;
}

.promotion{
    color: green !important;
}