<navbar-component [selectedPrice]="selectedPrice" (showCartEmitter)="drawer.toggle()"></navbar-component>
<mat-drawer-container autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over" position='end'>
        <h3>Carrello</h3>
    </mat-drawer>

    <div class="example-sidenav-content">
        <div class="product-container">
            @for (product of products; track product.id){
            <product-component ProductHover ProductClick [product]="product" (priceEmitter)="onPriceEmitted($event)">
            </product-component>
            }
        </div>
    </div>

</mat-drawer-container>