.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}