/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); //CDN

body {
  font-family: 'Roboto', sans-serif;
}

//Nello stile globale inserisco le regole che è comodo condividere per tutti i componenti

//Ad esempio lo style-reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Ad esempio delle regole minimali per tutti i bottoni
button {
    border: solid 1px transparent;
    border-radius: 5px;
    padding: 5px;
}

.w-100{
  width: 100%;
}

.flex{
  display: flex;
}

.justify-end{
  justify-content: end;
}

.product-shadow{
  box-shadow: 3px 3px 20px rgb(234, 234, 234);
}

.border-selected{
  border: solid 1px #a1a1a1;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
